# **Performance comparison between Synapse Serverless and Fabric Warehouse**

## _**Fabric warehouse**_

## _**Setup**_

In [ ]:
use warehouse

-- below to make sure we are have a clean data cache to work with
-- NO CHEATING :)
-- does not work for Synapse -> only for Fabric warehouse
ALTER DATABASE SCOPED CONFIGURATION CLEAR PROCEDURE_CACHE;

## _**Simple queries (count with filters)**_

In [ ]:
select
    count_big(*)
from
    dbo.NYCTaxi

In [ ]:
select 
    vendorID
    ,count_big(*) as rowcounts
from
    dbo.NYCTaxi
group by
    vendorID

In [ ]:
select 
    passengerCount
    ,count_big(*) as rowcounts
from
    dbo.NYCTaxi
where 1=1
    and vendorID = 'CMT'
group by
    passengerCount
order by 
    passengerCount

In [ ]:
select 
    passengerCount
    ,count_big(*) as rowcounts
from
    dbo.NYCTaxi
where 1=1
    and vendorID = 'CMT'
    and year(tpepPickupDateTime) = 2009
group by
    passengerCount
order by 
    passengerCount

## _**Window functions**_

In [ ]:
select
    tpepPickupDateTime
    ,lead(tpepPickupDateTime) over (order by (select 1)) as NexttpepPickupDateTime
from
    dbo.NYCTaxi
where 1=1
    and vendorID = 'CMT'
    and year(tpepPickupDateTime) = 2009
    and passengerCount = 5